body {
  font: normal 2em/1.5em "Helvetica Neue", Arial, sans-serif;
  color: #fff;
}

button.btn {
  margin-top: 40px;
  background: #66bb6a;
  border-radius: 4px;
}

section:nth-child(1) {
  background-color: #66bb6a;
}
section:nth-child(2), section:nth-child(4) {
  background-color: #424242;
}
section:nth-child(3) {
  background-color: #a5d6a7;
}

.fourth button {
  margin-top: 20px;
}

p {
  margin-bottom: 30px;
}

#fp-nav ul li a span {
  background: #fff;
}

img {
  margin: 0 auto;
}